/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* common styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
main{
    font-family: 'Poppins', sans-serif;
    margin: 50px 140px 50px 140px;
}
/* -----------------------------------------------------------------
                                banner section 
-----------------------------------------------------------------------*/
.banner-section{
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.banner-options {
    width: 50%;
    height: 382px;
    margin: 66px 106px;
}
.banner-img {
    width: 52%;
    height: 100%;
    padding: 50px;
}
.banner-img img{
    width: 100%;
    height: 100%;
}
.banner-options h2{
font-family: Poppins;
font-size: 70px;
font-weight: 700;
line-height: 80px;
letter-spacing: 0em;
text-align: left;
color: white;
}
.banner-options p{
    color: white;
    margin: 20px 0px;
}
.banner-options img{
    width: 100%;
}
.banner-options button{
    padding: 16px 25px;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
    background-color: #DD0000;
    border: none;
    font-family: Poppins;
    cursor: pointer;
}
/*---------------------------------------------------------------------------------
                                    Blog Section 
-----------------------------------------------------------------------------------*/
.blog-section{
    display: flex;
    margin-top: 130px;
}
.nav-blog-btn {
    width: 312px;
    height: 296px;
    background-color: #161616;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 30px;
    border-radius: 10px;
    margin-right: 24px;
}
.nav-blog-btn button{
    padding: 0 10px;
    margin: 20px 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border: 0;
}
#first-btn a{
    text-decoration: none;
    color: #161616;
}
#first-btn a:hover{
    color: white;
}
#first-btn:hover{
    color: white;
    background-image:linear-gradient(45deg,red,blue) ;
    transition: 0.5s;
    border: 0;
}
#blog-btn{
    background-color: red;
    border: 0;
    color: white;
    cursor: pointer;
}
#blog-btn:hover{
    background-image:linear-gradient(45deg,red,blue) ;
    transition: 0.5s;
}
.nav-blog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}
.blog{
    height: 362px;
    width: 312px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
}
.blog-img{
    width: 100%;
    height: 50%;
}
.blog-description{
    margin: 0 20px;
}
.blog-description p{
    text-align: left;
}
.blog-description button{
    width: 100px;
    height: 32px;
    font-size: 16px;
    font-weight: 500;
    margin: 16px 0 0 0;
    border: 1px solid #161616;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.blog-description p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.blog-icons{
    display: flex;
    align-items: center;
}
.fa-clock{
    margin-right: 10px;
}
.fa-message{
    margin: 0px 10px;
}
/* ------------------------------------------------------------------------
                                Footer Section
--------------------------------------------------------------------------- */
.footer{
    background-color: #161616;
    height: 444px;
    width: 100%;
    margin-top: 130px;
}
.footer h2{
    text-align: center;
    padding-top: 130px;
    color: white;
    padding-bottom: 50px;
    font-weight: 600;
    font-size: 40px;
}
.footer hr{
    width: 1320px;
    text-align: center;
    margin: auto;
}
.footer-btn{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.footer-btn a{
    margin-right: 30px;
    padding: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
/* -------------------------------------------------------------------------
                                Match Page
---------------------------------------------------------------------------*/
.match{
    width: 312px;
    height: 170px;
    padding: 53px 0;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
}
.match h2{
    font-size: 20px;
    font-weight: 700;
}
.match p{
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 400;
}
.match h2,p{
    text-align: center;
    margin: 10px 0px;
}
.flags{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flags img{
    margin: 0px 20px 10px 20px;
}
.flags span{
    font-size: 16px;
    font-weight: 700;
}
